*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
/*
Everything related to padding and setting the box sizing, belongs in the universal section
anything relating to font should go in the body section, to ensure it is inherited correctly
by all children objects/classes
*/

html{
//this defines what 1rem is
    font-size: 62.5%;
}

body {
    box-sizing: border-box;     
}